/* header style start */

.header{
  background-image: url(../Assets/Hero-bg.png);
  max-width:1440px ;
  height:698px ;
  margin: 0 auto;
}
.nav-div{
  display: flex;
  justify-content:space-between;
  padding:  30px 100px;
   align-items: center;
}
.LOGO{
  color: #3029f8;
  font-size:40px ;
  font-weight:bolder;
}
 .btn-header{
color: #ffffff;
  background-color: #3029f8;
  font-size:15px ;
  border-radius: 10px;
   border:none;
   padding:10px 30px;
}
.cool{
    
   
}
.cool-paragraph{
  color: #252432;
  font-size: 70px;
  font-weight: 700;
  display: flex;
   align-items: center;
   justify-content: center;
}
.btn-stay{
  color: #ffffff;
  background-color: #3029f8;
  border-radius: 10px;
  border: none;
  padding:15px 30px;
  font-size: 20px;
  display: flex;
   align-items: center;
   justify-content: center;
   margin:0 auto;
}
/* see section start */
.see-it{
  display: flex;
  align-items: center;
  gap:280px;
  max-width: 1140px;
  height: 328px;
  margin: 116px auto;
}

.see-title{
  font-size: 42px;
  font-weight: 700;
}
.see-para{
  color: #252432;
  font-size:24px;
}
.btn-see{
  background-color: #3029f8;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding:10px 30px;
}
.see-image{
  border-radius:48px;
   }
   /* joined section start */
   .joined{
    background-color:rgb(223, 231, 231);
   margin: 0 auto;
   max-width: 1140px;
   height:306px ;
   padding: 50px 142px;
  }  
  .joined-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
     
  }
  .joined-des{
    display: flex;
    justify-content: space-around;
  }
  .fifty-k  {
    color: #3029f8;
font-size: 70px;
font-weight: bold;
  }
  .two-m {
 color: #3029f8;
 font-size: 70px;
font-weight: bold;
  }
  .ninety-five{
 color: #3029f8;
 font-size: 70px;
font-weight: bold;
  }
  .active{
    color: #525255;
    font-size: 20px;
    justify-content: center;
    margin-left: 10px;
  }
  .focus{
 color: #525255;
 margin-left: 15px;
  }
  .satisfaction{
 color: #525255;
 margin-left: 10px;
  }
  /* section ready to focus */
  .ready{
    margin:0 auto;
    max-width: 1140px;
    height: 692px;
  }
  .ready-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: bold;
  }
  .ready-para{
 display: flex;
    align-items: center;
    justify-content: center;
  color: #525255;
  font-size: 25px;
  }
   
  .btn-ger{
   display: flex;
   align-items: center;
   justify-content: center;
   margin:0 auto;
    background-color: #3029f8;
    color: #ffffff;
    font-size: 20px;
    padding:10px 30px;
    border: none;
    border-radius: 10px;
  }
  .webflow-img{
    margin-top: 30px;
    display: flex;
    align-items: center;
   justify-content: center;
    
  }